@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 5%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


nav {
    display: flex;
    gap: 1rem;
}

nav a {
    font-size: 1rem;
    color: white;
    font-weight: 400;
    transition: 0.3s ease;
    border-bottom: 2px solid transparent;
    padding: 0.3rem;
}

nav a:hover,
nav a.active {
    color: #b74b4b;
    border-bottom: 2px solid #b74b4b;
}

section {
    min-height: 100vh;
    padding: 5rem 9%;
}

.page-front {
    text-align: center;
}

.title {
    font-size: 2rem;
    color: white;
    font-weight: 700;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.services-box {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.services-content {
    background-color: #161616;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(183, 75, 75, 0.5);
    max-width: 250px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.services-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(183, 75, 75, 0.7);
}

.services-content img {
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
    filter: drop-shadow(0 0 8px #b74b4b);
}

.services-content h3 {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    color: #b74b4b;
    font-weight: 500;
}

.services-content p {
    font-size: 1rem;
    margin-bottom: 0.6rem;
    font-weight: 300;
    color: white;
}

.services-content h5 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #b74b4b;
    font-weight: 400;
}

.services-content ul {
    list-style: none;
    text-align: left;
    font-size: 1rem;
    line-height: 1.8rem;
    color: #dcdcdc;
    padding: 0;
}

.services-content ul li::before {
    content: "•";
    color: #b74b4b;
    margin-right: 0.5rem;
}

@media (max-width: 995px) {
    nav {
      gap: 0.3rem;
    }
  
    nav a {
      font-size: 0.9rem !important;
    }
  }
@media (max-width: 768px) {
   

    .services-box {
        flex-direction: column;
        align-items: center;
    }

    .services-content {
        max-width: 90%;
    }
}
